<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>웹 서비스</title>-->
<!--    <h1>웹 서비스</h1>-->
<!--    <div class="col-md-12">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6">-->
<!--                <a href="/post/save" role = "button"-->
<!--                   class="btn-btn-primary">글 등록</a>-->
<!--                <button type="button" class="btn btn-button-primary" id="btn-deleteall">선택 삭제</button>-->

<!--                <table class="table table-horizontal table-bordered">-->
<!--                    <thead class="thead-strong">-->
<!--                    <tr>-->
<!--                        <th></th>-->
<!--                        <th>게시글번호</th>-->
<!--                        <th>제목</th>-->
<!--                        <th>작성자</th>-->
<!--                        <th>최종수정일</th>-->
<!--                        <th>삭제</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody id="tbody">-->
<!--                    {{#posts}}-->
<!--                    &lt;!&ndash;            posts라는 List를 순회함&ndash;&gt;-->
<!--                    <td>-->
<!--                    <td>-->
<!--                        <input type="checkbox" class="checkbox"-->
<!--                               {{#delYn}}-->
<!--                               disabled="disabled" checked="checked"-->
<!--                               {{/delYn}}>-->
<!--                    </td>-->
<!--                    &lt;!&ndash;                    List에서 뽑아낸 객체의 필드를 사용함&ndash;&gt;-->
<!--                    <td>{{id}}</td>-->
<!--                    &lt;!&ndash;                    <td>{{title}}</td> 에서 밑 코드로 수정. title에 a tag를 추가함. 타이틀을 클릭하면 해당 게시글의 수정화면으로 넘어감&ndash;&gt;-->
<!--                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>-->
<!--                    <td>{{author}}</td>-->
<!--                    <td>{{modifiedDate}}</td>-->
<!--                    <td><a href="/posts/update/{{id}}" role="button"-->
<!--                           class="btn btn-primary">수정</a></td>-->
<!--                    </tr>-->
<!--                    {{/posts}}-->
<!--                    </tbody>-->
<!--                </table>-->


<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->